@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'HalloRegular';
    font-style: normal;
    font-weight: normal;
    src: local('Hallo Sans Regular'), url('../assets/fonts/Hallo\ sans.woff') format('woff');
    }
    

    @font-face {
    font-family: 'HalloLight';
    font-style: normal;
    font-weight: normal;
    src: local('Hallo sans Light'), url('../assets/fonts/Hallo\ sans\ light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'HalloBlack';
    font-style: normal;
    font-weight: normal;
    src: local('Hallo sans Black'), url('../assets/fonts/Hallo\ sans\ black.woff') format('woff');
    }